# In Python, there are several built-in data types that are commonly used:











## Integer (int): Represents whole numbers, both positive and negative, without any decimal point.

## Float (float): Represents floating-point numbers, which are numbers with a decimal point or in exponential form.

## String (str): Represents sequences of characters, enclosed within single (' '), double (" "), or triple (''' ''' or """ """) quotes.

## Boolean (bool): Represents one of two possible values: True or False. It is often used in conditional expressions and logical operations.

## List (list): Represents an ordered collection of elements, which can be of different types and can be modified (mutable). Lists are created using square brackets [ ].

## Tuple (tuple): Similar to lists, but they are immutable, meaning their elements cannot be modified after creation. Tuples are created using parentheses ( ).

## Dictionary (dict): Represents an unordered collection of key-value pairs, where each key is unique and mapped to a value. Dictionaries are created using curly braces { }, with key-value pairs separated by colons (:).

## Set (set): Represents an unordered collection of unique elements. Sets are created using curly braces { } or the set() function.

# List

List (list): Represents an ordered collection of elements, which can be of different types and can be modified (mutable). Lists are created using square brackets [ ].

In [4]:
kk=[2,33,44,55,67,"hh",67]

In [5]:
type(kk)

list

In [6]:
kk

[2, 33, 44, 55, 67, 'hh', 67]

In [7]:
data_type=type(kk)

In [8]:
print(data_type)

<class 'list'>

In [9]:
kk[-1]=222222

In [12]:
kk[0]=23

In [13]:
kk

[23, 33, 44, 55, 67, 'hh', 222222]

In [15]:
kk.append(90)

In [16]:
kk

[23, 33, 44, 55, 67, 'hh', 222222, 90, 90]

In [17]:
kk.insert(2,34)

In [18]:
kk

[23, 33, 34, 44, 55, 67, 'hh', 222222, 90, 90]

In [19]:
kk.extend([23,67,56,78])

In [20]:
kk

[23, 33, 34, 44, 55, 67, 'hh', 222222, 90, 90, 23, 67, 56, 78]

In [21]:
kk.count(67)

2

In [24]:
kk.pop(0)

23

In [25]:
kk

[33, 34, 44, 55, 67, 'hh', 222222, 90, 90, 23, 67, 78]

In [26]:
my_list = [33, 34, 44, 55, 67, 'hh', 90, 23, 67, 56, 78]

# Values to remove
values_to_remove = [67, 'hh',90,23]

# Removing multiple values from the list
for value in values_to_remove:
    while value in my_list:
        my_list.remove(value)

print(my_list)

[33, 34, 44, 55, 56, 78]

In [29]:
t=[99,45,44,66,77,21,1,2]

In [30]:
t.reverse()

In [31]:
t

[2, 1, 21, 77, 66, 44, 45, 99]

In [32]:
h=[2,34,5,678,78,45,675,8965,345,3567,554]

In [33]:
h.sort()

In [34]:
h

[2, 5, 34, 45, 78, 345, 554, 675, 678, 3567, 8965]

In [35]:
h.sort(reverse=True)

In [36]:
h

[8965, 3567, 678, 675, 554, 345, 78, 45, 34, 5, 2]

In [37]:
m = [i for i in range(23)]

print(m)
type(m)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]

list

## Dictionaries

#Dictionary (dict): Represents an unordered collection of key-value pairs, where each key is unique and mapped to a value. Dictionaries are created using curly braces { }, with key-value pairs separated by colons (:).

In [39]:
f={1:'TOM',2:"SAM", 4:34, 5:"tt"}

In [40]:
f

{1: 'TOM', 2: 'SAM', 4: 34, 5: 'tt'}

In [41]:
type(f)

dict

In [44]:
f.pop(4)

34

In [45]:
f

{2: 'SAM', 5: 'tt'}

## set

Set (set): Represents an unordered collection of unique elements. Sets are created using curly braces { } or the set() function.

In [61]:
x2={1,2,3,4,55,66,"jk","dj",1}

In [62]:
data_type=type(x2)

In [63]:
x2

{1, 2, 3, 4, 55, 66, 'dj', 'jk'}

In [64]:
x2.add(44)

In [65]:
x2

{1, 2, 3, 4, 44, 55, 66, 'dj', 'jk'}

In [66]:
x2.update([111,222,'t'])

In [67]:
x2

{1, 111, 2, 222, 3, 4, 44, 55, 66, 'dj', 'jk', 't'}

In [68]:
x2.remove(222)

In [69]:
x2

{1, 111, 2, 3, 4, 44, 55, 66, 'dj', 'jk', 't'}

## Tuple (tuple): Similar to lists, but they are immutable, meaning their elements cannot be modified after creation. Tuples are created using parentheses ( ).

In [70]:
fruits = ("apple", "banana")

In [71]:
type(fruits)

tuple

In [72]:
coordinates = (10, 20)  # Two numeric elements: x-coordinate and y-coordinate

In [73]:
type(coordinates)

tuple

# Data Frame

In [74]:
import pandas as pd

In [75]:
x=[(1,'SAM',30,'22k'),(2,'TOM',34,'34k')]

In [76]:
df=pd.DataFrame(x,columns=['id','name','age','salary'])

In [77]:
df

   id name  age salary
0   1  SAM   30    22k
1   2  TOM   34    34k

# If Else Statement

In [82]:
age = int(input("age="))
if age>=18:
  print("elligible for vote")
else:
  print("not elligible for vote")

age=18
elligible for vote

In [84]:
# Get the exam score from the user
exam_score = float(input("Enter the exam score: "))

# Tiered grading system
if exam_score >= 90:
    grade = "A"
elif exam_score >= 80:
    grade = "B"
elif exam_score >= 70:
    grade = "C"
elif exam_score >= 60:
    grade = "D"
else:
    grade = "F"

# Output the grade
print("The grade for the exam score", exam_score, "is:", grade)

Enter the exam score: 60
The grade for the exam score 60.0 is: D

# Nested if Statement

In [86]:
## User authentication example
#Nested if Statement
username = input("Enter your username: ")
password = input("Enter your password: ")

if username == "ab":
    if password == "234":
        print("Welcome, admin! You have full access.")
        
        
    else:
        print("Incorrect password.")
            
else:
    print("Invalid username.")

Enter your username: ab
Enter your password: 234
Welcome, admin! You have full access.

## For Loop:

A for loop is used when you know the number of times you want to execute a block of code. It Goes over again a sequence (such as a list, tuple, string, or range) and executes the block of code for each item in the sequence.

Here's the definition of a for loop:

"A for loop is a control flow statement for specifying iteration, which allows code to be executed repeatedly."

Here's an example of a for loop in Python:

In [87]:
# Iterate over a list
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [88]:
# Define a list
numbers = [1, 2, 3, 4, 5]

# Iterate over the list using a for loop
for num in numbers:
    print(num)

1
2
3
4
5

## While Loop:

A while loop is used when you want to execute a block of code as long as a condition is true. 

Here's the definition of a while loop:

"A while loop is a control flow statement that Continuously executes a block of code as long as a specified condition is true."

Here's an example of a while loop in Python:

In [89]:
# While loop to print numbers from 1 to 5
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

### In Python, data comes from various sources! Here are some common ways to access data for your Python programs:

Built-in Data Types: Python offers built-in data structures like lists, tuples, dictionaries, and sets to store and organize data directly in your code. These are great for small datasets or temporary data manipulation.

Files: Text files (.txt), CSV (Comma-Separated Values - .csv), Excel files (.xlsx), and JSON (JavaScript Object Notation - .json) are popular file formats for storing data. Python provides libraries like csv and json to read and write data from these files.

Databases: Relational databases like MySQL, PostgreSQL, and SQLite store large datasets in a structured format with tables and relationships. Python libraries like pandas and SQLAlchemy connect to these databases and retrieve data for analysis.

APIs (Application Programming Interfaces): Many websites and services offer APIs that allow programmatic access to their data. You can use Python libraries like requests or specific service libraries (e.g., Twitter API) to interact with these APIs and retrieve data in formats like JSON or XML.

Web Scraping: Sometimes, data resides directly on websites. Python libraries like BeautifulSoup or Scrapy can be used to extract data from websites, although ethical considerations and website terms of service apply.

### Built-in Data Types: Python offers built-in data structures like lists, tuples, dictionaries, and sets to store and organize data directly in your code. These are great for small datasets or temporary data manipulation.

### Files: Text files (.txt), CSV (Comma-Separated Values - .csv), Excel files (.xlsx), and JSON (JavaScript Object Notation - .json) are popular file formats for storing data. Python provides libraries like csv and json to read and write data from these files.

### Databases: Relational databases like MySQL and SQLite store large datasets in a structured format with tables and relationships. Python libraries like pandas connect to these databases and retrieve data for analysis.

### APIs (Application Programming Interfaces): Many websites and services offer APIs that allow programmatic access to their data. You can use Python libraries like requests or specific service libraries (e.g., Twitter API) to interact with these APIs and retrieve data in formats like JSON or XML.

### Web Scraping: Sometimes, data resides directly on websites. Python libraries like BeautifulSoup can be used to extract data from websites, although ethical considerations and website terms of service apply.